body {
    background-color: white;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.panel-heading a:hover,
.panel-heading a:active,
.panel-heading a:focus {
    text-decoration: none;
}

.panel-heading a {
    text-decoration: none;
}

.fa-heart {
    color: red;
}

.jumbotron {
    background-size:cover;
    background-position: center;
}
.jumbotron-home {
    background-image: url("../images/home2.jpg")
}

.jumbotron-note {
    background-image: url("../images/note.jpg")
}

.jumbotron .display-4, .jumbotron p.lead{
    color: azure;
}